<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= image_tag("banner_home.jpg", :alt => "CGP banner", :width => "100%", :margin => "0") %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 thumb1">
      <h2 class="impact">
        LATEST EPISODE
      </h2>
      <iframe width="80%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/328311650&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      <table class="impact table table-sm noBorder w-25">
        <tbody>
          <tr>
            <th scope="row" class="noBorder big-text">HOST</th>
            <th scope="row" class="noBorder big-text">REPS</th>
          </tr>
          <tr>
            <td class="noBorder big-text">Keenan</th>
            <td class="noBorder big-text">Colin</th>
          </tr>
          <tr>
            <td></td>
            <td class="noBorder big-text">Patrick</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 thumb2">
      <h2 class="impact">
        NEXT EPISODE
      </h2>
      <p class="impact big-text">
        TOPIC: "Sonic the Hedgehog" and his legacy!
      </p>
      <button class="btn btn-block btn-success">
        Check it Out >>
      </button>
      <table class="impact table table-sm noBorder w-25">
        <tbody>
          <tr>
            <th scope="row" class="noBorder big-text">HOST</th>
            <th scope="row" class="noBorder big-text">REPS</th>
          </tr>
          <tr>
            <td class="noBorder big-text">Keenan</th>
            <td class="noBorder big-text">Colin</th>
          </tr>
          <tr>
            <td></td>
            <td class="noBorder big-text">Patrick</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 thumb3">
      <h2 class="impact">
        UPDATES
      </h2>
    </div>