<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 cgp-banner-cast cgp-hero">

    </div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-austin">
			<h1>Austin Liebers</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-chowder">
			<h3>Taeemul "Chowder" Chowdhury</h3>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-colin">
			<h1>Colin Ketchen</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-eddy">
			<h1>Eddy Ryan</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-jeff">
			<h1>Jeff Leavitt</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-keenan">
			<h1>Keenan Kodesch</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-laura">
			<h1>Laura Cramer</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-matt">
			<h1>Matt Canavan</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 col-lg-4 col-xl-4 cast-tile tile-pat">
			<h1>Pat Brehm</h1>	
			<ul>
				<li>List Item</li>
			</ul>
		</div>
	</div>
</div>