<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 cgp-banner">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row impact dark-bg">
	<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
		<h1>LATEST EPISODE</h1>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
		<h1>NEXT EPISODE</h1>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
		<h1>UPDATES</h1>
	</div>
  </div>
  <div class="row">
  <%= render :partial => "ep_tile/home_latest" %>
  <%= render :partial => "ep_tile/home_next" %>
  <%= render :partial => "ep_tile/home_updates" %>
  </div>
</div>