<div class="container-fluid dark-bg">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
			<h1 class="impact text-center">
				iTunes
			</h1>
			<%= image_tag("social/apple.png", :class => "text-center") %>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
			<h1 class="impact text-center">
				Soundcloud
			</h1>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
			<h1 class="impact text-center">
				Google Play
			</h1>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
			<h1 class="impact text-center">
				Stitcher
			</h1>
		</div>
	</div>
</div>