<div class="container-fluid dark-bg">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
			<h1 class="display-5">
				Listen to Common Geeking Program
			</h1>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<%= image_tag("social/soundcloud.png", :class => "listen-tile") %>
			<br /><br />
			<h1>Soundcloud</h1>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<%= image_tag("social/apple.png", :class => "listen-tile") %>
			<br /><br />
			<h1>iTunes</h1>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<%= image_tag("social/googleplay.png", :class => "listen-tile") %>
			<br /><br />
			<h1>Google Play</h1>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<%= image_tag("social/stitcher.png", :class => "listen-tile") %>
			<br /><br />
			<h1>Stitcher</h1>
		</div>
	</div>
</div>