<script type="text/javascript">
	$('#example').tooltip(options)
</script>
<div class="container-fluid dark-bg">
	<div class="row">
		<a href="#" title="example" data-placement="bottom" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>
	</div>
</div>