/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require style
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
	font-family: 'impact';
	src:font-url('fonts/impact.eot');
	src:font-url('fonts/impact.eot?#iefix') format('embedded-opentype'),
		url('fonts/impact.ttf') format('truetype'),
		url('fonts/impact.woff') format('woff'),
		url('fonts/impact.svg#impact') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
}
body{
	font-family: 'HelveticaNeue-CondensedBlack';
}
/*START tile background css*/
.tile-austin{
	background: url(tile/tile_austin.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-chowder{
	background: url(tile/tile_chowder.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-city{
	background: url(tile/tile_city.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-colin{
	background: url(tile/tile_colin.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-eddy{
	background: url(tile/tile_eddy.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-jeff{
	background: url(tile/tile_jeff.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-keenan{
	background: url(tile/tile_keenan.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-laura{
	background: url(tile/tile_laura.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-matt{
	background: url(tile/tile_matt.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-mountain{
	background: url(tile/tile_mountain.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.tile-pat{
	background: url(tile/tile_pat.png);
	background-size: 100%;
	background-repeat: no-repeat;
	max-width:100%;
	background-size:cover;
}
.noBorder td{
	width: 50%;
	font-size: 125%;
}
.noBorder td{
	border: none !important;
}
.noBorder{
	border: none !important;
}
.impact{
	font-family: impact;
}
.big-text{
	font-size: 150%;
}
.logo-brand{
	width: 60px;
}
/*fixes navbar jumpiness*/
.navbar-collapse.collapse.in {
  display: block!important;
}
.spacer{
	height:20px;
}