<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ep-tile tile-laura">
  <h3 class="impact">
    25. Cutting for Economy
  </h3>
	<span class="badge badge-primary">The Hobbit</span>
  	<div class="slim-spacer">&nbsp;</div>
  <iframe height="166" width="80%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/330832288&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
  <div class="spacer"></div>
  <table class="noBorder">
	  <thead>
	    <tr class="big-text">
	      <th>HOST:</th>
	      <th>REPS:</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
			<td>Laura Cramer</td>
			<td>Jeff Leavitt</td>
	    </tr>
	    <tr>
			<td></td>
			<td>Colin Ketchen</td>
	    </tr>
	    <tr>
			<td></td>
			<td>Taeemul Chowdhury</td>
	    </tr>
	  </tbody>
	</table>
</div>