<div class="col-sm-12 col-md-12 col-lg-6 col-xl-4 ep-tile tile-keenan">
	<h1 class="impact">
    Whales Got Nothing to Do With This (Fables)
	</h1>
	<iframe height="166" width="80%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/310564207&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
	<div class="spacer"></div>
	  <table class="noBorder impact">
		  <thead>
		    <tr class="big-text">
		      <th>HOST:</th>
		      <th>REPS:</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
				<td>Keenan Kodesch</td>
				<td>Austin Liebers</td>
		    </tr>
		    <tr>
				<td></td>
				<td>Taeemul Chowdury</td>
		    </tr>
		    <tr>
				<td></td>
				<td>Colin Ketchen</td>
		    </tr>
		  </tbody>
		</table>
	</div>