<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ep-tile tile-colin">
  <h3 class="impact">
    30. Oblivion V Skyrim: Rise of the People People  </h3>
    <span class="badge badge-danger">Special "vs." Episode!</span>
 
  <iframe height="166" width="80%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/336205263&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false"></iframe>
  <div class="spacer"></div>
  <table class="noBorder">
	  <thead>
	    <tr class="big-text">
	      <th>HOST:</th>
	      <th>REPS:</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
			<td>Colin Ketchen</td>
			<td>Austin Liebers</td>
	    </tr>
	    <tr>
			<td></td>
			<td>Keenan Kodesch</td>
	    </tr>
	    <tr>
			<td></td>
			<td></td>
	    </tr>
	  </tbody>
	</table>
</div>

