<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tile-city text-center">
  <h1 class="impact">
    NEXT EPISODE
  </h1>
  <h3 class="impact">
    "Marvel vs Capcom"
	  <button class="btn btn-primary btn-sm">
	    <a href="https://en.wikipedia.org/wiki/Marvel_vs._Capcom" target="blank">
		    View Topic &nbsp;<i class="fa fa-external-link"></i>
	    </a>
	  </button>
  </h3>
  <div class="spacer"></div>
  <div class="container-fluid impact">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h3 class="text-center">HOST:</h3>
			<p class="big-text">Taeemul Chowdhury</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h3 class="text-center">REPS:</h3>
			<p class="big-text">
				Eddy Ryan<br />
				Matt Canavan<br />
				Keenan Kodesch<br />
			</p>
		</div>
	</div>
  </div>
</div>