<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ep-tile tile-city">
  <h3 class="impact">
    NEWS. NEWS? NEWS.
  </h3>
  <!-- <button class="btn btn-primary btn-sm">
    <a href="URL URL URL" target="blank">
	    <b>View Topic &nbsp;<i class="fa fa-external-link"></i></b>
    </a>
  </button> -->
  <div class="spacer"></div>
  <div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h3>HOST:</h3>
			<p class="big-text">Patrick Brehm</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<h3>REPS:</h3>
			<p class="big-text">
				Jeff Leavitt<br />
				"Chowder"<br />
				Austin Liebers<br />
			</p>
		</div>
	</div>
  </div>
</div>