<html>
  <head>
    <title>Cgp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'bootstrap', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light navbar-toggleable-sm">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
          <div class="navbar-collapse collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Episodes</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a href="#modal1" data-toggle="modal" class="nav-link">Contact CGP</a></li>
              </ul>
          </div>
  </nav>
    <%= yield %>
  </body>
</html>