    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag("logo_cgp.png", :class => "logo_brand") %>
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link inactive" href="/index">Home </a>
          <a class="nav-item nav-link inactive" href="/episodes">Episodes</a>
          <a class="nav-item nav-link inactive" href="/about">About</a>
        </div>
      </div>
    </nav>